{% extends "_layout/base.twig" %}

{% block hero %}
	{% include "_components/hero.twig" with {
        image: post.thumbnail.src,
        subtitle: false,
        title: (fn('is_home') ? post.meta('hero_title')|default(post.title) : ('news' in tax.name|lower ? tax.name : (tax.name ~ ' News')) ),
        copy: false,
        address: false,
        badge: false,
        btns: false,
        deals: false
    } %}
{% endblock %}

{% block content %}

    <section class="py-8 bg-grey-light md:py-12 lg:py-16">
        <div class="container relative flex flex-wrap sm:flex-row-reverse sm:flex-nowrap">
            <div class="w-full text-black bg-grey-light bar-black sm:w-auto text-vertical-right bar-right"><span class="text-black bg-grey-light">Blog</span></div>
            <div class="w-full">
                <div class="flex flex-wrap w-full sm:flex-nowrap">
                    {# <span class="h2">Keep up-to-date with <span class="font-bold text-primary-light">Thanet Bedz</span></span> #}
                    {# <div class="hidden text-right sm:block sm:mt-0 sm:w-48"> #}
                    {% include "_components/button.twig" with {
                        text: 'Show All',
                        link: '/blog/',
                        colour: 'primary-light',
                        classes: 'mr-2 ' ~ (fn('is_home') ? 'active' : 'order-2')
                    } %}
                    {% for item in categories %}
                        {% include "_components/button.twig" with {
                            text: item.name,
                            link: '/category/' ~ item.slug,
                            colour: 'primary-light',
                            classes: 'mr-2 ' ~ (fn('is_category',item.slug) ? 'active order-1' : 'order-2')
                        } %}
                    {% endfor %}
                </div>
                <div class="flex flex-wrap mt-4 -mx-2 w-full-2 sm:w-auto lg:-mx-4">
                    {% for post in posts %}
                        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
                            <a href="{{ post.link }}" class="block w-full h-full bg-white border-t-8 group border-primary-dark">
                                <img class="w-full lazyload" data-src="{{ post.thumbnail.src|resize(600,400) }}">
                                <div class="flex flex-col items-start p-4 bg-white md:p-6">
                                    <span class="mb-1 text-2xl font-medium">{{ post.name }}</span>
                                    <span class="text-sm">{{ post.content|truncate(15) }}</span>
                                    <span class="mt-4 btn btn-primary group-hover:bg-left">Read more {{ fn('icon','caret-right') }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% include '_components/pagination.twig' with {
                    posts : posts
                } %}
            </div>
        </div>
    </section>

{% endblock %}