<div class="py-8 bg-grey-light md:py-12 lg:py-12">
    <div class="container relative flex flex-wrap sm:flex-nowrap">
        <div class="w-full sm:w-auto text-vertical-left bar-right bar-black bg-grey-light"><span class="bg-grey-light">{{ title }}</span></div>
        
        <div class="flex flex-wrap items-center justify-between -mx-2 w-full-2 sm:w-auto lg:-mx-4">
            {% for item in buckets %}
                {% set thumbID = fn('get_term_meta',item.term_id,'thumbnail_id',true) %}
                {% set thumb = fn('wp_get_attachment_url',thumbID) %}
                {% set link = fn('get_term_link',item.term_id) %}
                <div class="w-1/2 p-2 lg:p-4 md:w-1/4">
                    <a href="{{ link }}" class="relative block overflow-hidden transition-all duration-500 group">
                        <span class="block transition-all duration-500 transform group-hover:scale-110"><img class="lazyload" data-src="{{ thumb|resize(600,600) }}"></span>
                        <div class="absolute bottom-0 right-0 bucket-btn btn btn-primary group-hover:bg-left">
                            {{ item.name }}{{ fn('icon','caret-right') }}
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% if buckets|length < 4 %}
                <div class="w-1/2 h-full p-2 lg:p-4 md:w-1/4">
                    <div class="flex flex-col items-start h-full p-6 text-white bg-primary">
                        <span class="!font-bold !leading-7 h3">Can’t find what you’re looking for?</span>
                        <span class="font-light">Get in touch with your nearest store to see if we can find the right product for you. We are always happy to help!</span>
                        {% include "_components/button.twig" with {
                            text: "Contact us",
                            link: "/contact/",
                            colour: "primary-light",
                            classes: "mt-auto"
                        } %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>