<div class="py-8 bg-grey-light md:py-12 lg:py-12">
    <div class="container relative flex flex-wrap sm:flex-nowrap">
        <div class="w-full sm:w-auto text-vertical-left bar-right bar-black bg-grey-light"><span class="bg-grey-light">{{ title }}</span></div>
        
        <div class="flex flex-wrap -mx-2 w-full-2 lg:-mx-4">
            {% for item in buckets %}
                {% set thumbID = fn('get_term_meta',item.term_id,'thumbnail_id',true) %}
                {% set thumb = fn('wp_get_attachment_url',thumbID) %}
                {% set link = fn('get_term_link',item.term_id) %}
                <div class="w-1/2 p-2 lg:p-4 md:w-1/4">
                    <a href="{{ link }}" class="relative block overflow-hidden transition-all duration-500 group">
                        <span class="block transition-all duration-500 transform group-hover:scale-110">
                            {# <img class="lazyload" data-src="{{ thumb|resize(600,600) }}" src="" alt="{{ item.name }}"> #}
                            {% include "_components/picture.twig" with {
                                source: Image(thumb),
                                lazyload: true,
                                breakpoints: {
                                    "1px" : {
                                        w: 400,
                                        h: 400,
                                        crop: 'center'
                                    },
                                },
                                img: {
                                    classes: 'lazyload',
                                    w: 400,
                                    h: 400,
                                    crop: 'center',
                                }
                            } %}
                        </span>
                        <div class="absolute bottom-0 right-0 bucket-btn btn btn-primary group-hover:bg-left">
                            {{ item.name }}{{ fn('icon','caret-right') }}
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% if buckets|length != 4 and buckets|length != 8 and buckets|length != 12 %}
                <div class="w-1/2 p-2 lg:p-4 md:w-1/4">
                    <div class="flex flex-col items-start h-full p-4 text-white 2xs:p-6 md:p-4 xl:p-6 bg-primary">
                        <span class="font-bold leading-5 2xs:text-lg sm:leading-6 md:leading-6 lg:leading-5 xl:leading-7 md:text-lg xl:text-xl 2xl:text-2xl sm:text-xl">Can’t find what you’re looking for?</span>
                        <span class="hidden mt-1 text-sm font-light xs:block md:hidden lg:block lg:text-sm xl:text-base">Get in touch with your nearest store to see if we can find the right product for you.<span class="hidden sm:inline md:hidden 2xl:inline"> We are always happy to help!</span></span>
                        {% include "_components/button.twig" with {
                            text: "Contact us",
                            link: "/contact/",
                            colour: "primary-light",
                            classes: "mt-auto -mr-4 -mb-4 -ml-1 2xs:mb-0 2xs:ml-0 2xs:-mr-2 !px-3 !text-xs xs:!text-sm xs:!px-5 md:!px-3 md:!text-xs 2xl:!text-sm 2xl:!px-5"
                        } %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>