{% if fn('is_archive','product-category') %}
    {% set trackingPage = 'Product category pages' %}
{% else %}
    {% set trackingPage = trackingPage %}
{% endif %}

<div class="container flex-wrap items-start py-8 md:py-12 lg:py-16 lg:flex">

    <main class="lg:w-2/3 lg:pr-16">

        <article class="copy">

            <h1 class="block">{{ title }}</h1>

            {{ content }}

        </article>

        {% if buttons %}
            {% for btn in buttons %}
                {% include "_components/button.twig" with {
                    link: btn.button.url,
                    text: btn.button.title,
                    target: btn.button.target,
                    tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ trackingPage ~ " body', 'event_label' : '" ~ trackingPage ~ " body button click " ~ btn.button.title ~ "' });",
                    colour: (loop.index is odd ? 'primary-dark' : 'primary-light'),
                    classes: 'mt-8 mr-2'
                } only %}
            {% endfor %}
        {% else %}
            <div class="mt-8">
                {% include "_components/button.twig" with {
                    link: '/about/',
                    text: 'About us',
                    tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ trackingPage ~ " body', 'event_label' : '" ~ trackingPage ~ " body copy green button click About Us' });",
                    colour: 'primary-dark',
                    classes: 'mr-2'
                } only %}
                {% include "_components/button.twig" with {
                    link: '/our-stores/',
                    text: 'Our stores',
                    tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ trackingPage ~ " body', 'event_label' : '" ~ trackingPage ~ " body copy green button click Our Stores' });",
                    colour: 'primary-light',
                    classes: 'mt-2 mr-2'
                } only %}
            </div>
        {% endif %}

    </main>

    <aside class="flex flex-wrap items-start mt-8 -mx-4 lg:mt-0 lg:-my-4 lg:w-1/3">

        {% if utility_links %}

            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Delivery',
                    copy: 'We supply our products to customers at affordable prices and seek to deliver your orders in a fast and convenient manner.',
                    link: '/delivery/',
                    icon: 'box',
                    tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ trackingPage ~ " body', 'event_label' : '" ~ trackingPage ~ " body copy sidebar click' });"
                } %}
            </div>
            
            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Returns',
                    copy: "We hope that you love your product, but in the case you need to return it please see our returns policy.",
                    link: '/returns/',
                    icon: 'return',
                    tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ trackingPage ~ " body', 'event_label' : '" ~ trackingPage ~ " body copy sidebar click' });"
                } %}
            </div>

        {% elseif map %}

            <div class="w-full p-4 min-h-[400px]"><iframe src="{{ map }}" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        
        {% else %}

            <div class="w-full p-4">
                {# <img class="lazyload" src="" data-src="{{ thumb|resize(800,800) }}" alt="{{ title }}"> #}
                {% include "_components/picture.twig" with {
                    source: Image(thumb),
                    lazyload: true,
                    pictureClasses: 'w-full',
                    breakpoints: {
                        "1px" : {
                            w: 800,
                            h: 800,
                            crop: 'center'
                        },
                    },
                    img: {
                        classes: 'w-full lazyload',
                        w: 800,
                        h: 800,
                        crop: 'center',
                        alt: title
                    }
                } %}
            </div>

        {% endif %}

        {% if reviews != false %}
            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Reviews',
                    copy: "We’ve built up a bank of happy, returning customers across the county, all of whom tend to have nice things to say about us!",
                    link: '/reviews/',
                    icon: 'star',
                } %}
            </div>
        {% endif %}

    </aside>

</div>