<div class="container flex flex-wrap justify-around 2xs:!px-12 py-6 xs:!px-6 lg:py-8">

    {% for item in options.why_choose_us %}

        {% if item.link %}

            <a href="{{ item.link.url }}" class="flex items-center w-full my-2 group lg:my-0 lg:mx-2 lg:w-auto sm:w-1/2">

                {{ function('icon', item.icon, 'text-primary-lightest group-hover:text-primary-bright mr-3 transition text-4xl') }}
                {{item.reason}}
                {{ function('icon','caret-right','opacity-0 group-hover:opacity-100 text-grey transition-all duration-500 -ml-2 mr-3 group-hover:mr-0 group-hover:ml-1')}}

            </a>

        {% else %}

            <div class="flex items-center w-full my-2 lg:my-0 lg:mx-2 lg:w-auto sm:w-1/2">

                {{ function('icon', item.icon, 'text-primary-lightest mr-3 text-4xl') }}
                {{item.reason}}

            </div>

        {% endif %}
    
    {% endfor %}

</div>
