<div class="w-full xs:p-2 lg:p-6 mb-8 product xs:w-1/2 lg:w-3/12">

	<div class="bg-white">
		
		{{ fn('timber_set_product', post) }}

		<div class="product__info">
			<a href="{{ post.link }}">
				{% do action('woocommerce_before_shop_loop_item_title') %}
			</a>

			{% if post.title %}
				<h3 class="entry-title">
					<a href="{{ post.link }}">{{ post.title }}</a>
				</h3>
			{% else %}
				<h3 class="entry-title">
					<a href="{{ post.link }}">{{ fn('the_title') }}</a>
				</h3>
			{% endif %}

			{% do action( 'woocommerce_after_shop_loop_item_title' ) %}
			{% do action( 'woocommerce_after_shop_loop_item' ) %}
		</div>

	</div>
	
</div>
